# Check http://editorconfig.org for more information
# This is the main config file for this project:
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[Makefile]
indent_style = tab  # older versions of GNU Make do not work well with spaces

[*.{yaml,yml}]
indent_size = 2

[*.{md,rst}]
trim_trailing_whitespace = false

[*.{diff,patch}]
trim_trailing_whitespace = false
