name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
  pull_request:
    types: [ opened, reopened ]

jobs:
  tests:
    strategy:
      matrix:
        go-version: [ {{ cookiecutter.go_version }}.x ]
        os: [ ubuntu-latest ]
{% raw %}
    runs-on: ${{ matrix.os }}
{% endraw %}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: {% raw %}${{ matrix.go-version }}{% endraw %}

      - name: Install Dependencies
        run: go mod download

      - name: Test
        run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic -gcflags=-l

      {%- if cookiecutter.use_codecov.lower() == 'y' -%}
      {% raw %}

      # Generate a Codecov report
      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          flags: unittests
          name: {% endraw %}{{ cookiecutter.project_name.strip() }}{% raw %} [${{ matrix.go-version }}]
          fail_ci_if_error: true
          path_to_write_report: ./coverage/codecov_report.gz
          verbose: true{% endraw %}{% endif %}
